<footer>
    <section class="footer-credits">
        <p> <a href="http://www.github.com/bocod">bocod</a>    |    2022   |   <span class="disclosure">Las cotizaciones pueden no ser exactas. Consulte siempre con casas de cambio autorizadas.</span></p>
    </section>
</footer>