* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f2f2f2;
}

.header-wrapper {
    padding: 1rem;
}

.lower-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.lower-header button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 18px;
    color: #ffffff;
    background-color: #13a5dd;
    border: none;
    border-radius: 25px;
    box-shadow: #444444 0px 0px 5px;
    width: 270px;
}

.home-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exchange-date {
    text-align: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper :hover {
    box-shadow: 0px 0px 10px #444444;
}

.card :hover {
    box-shadow: none;
}

.card {
    margin: 1rem;
    padding: 1rem;
    min-width: 300px;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
}

.card h2 {
    border-bottom: solid 1.5px #d4d4d4;
    padding-bottom: 1rem;
    text-align: center;
    color: #444444;
}

.exchange {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.exchange-top {
    padding-bottom: 0.5rem;
}

.exchange-bottom {
    padding-top: 0.5rem;
}

@media (max-width: 799px) {
    .home-button {
        position: relative;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}