* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 1rem;
}

.lower-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.lower-header button {
    margin: 1rem;
    padding: 1rem;
    font-size: 18px;
    color: #ffffff;
    background-color: grey;
    border: none;
    border-radius: 25px;
    box-shadow: darkblue 0px 0px 5px;
}

.home-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exchange-date {
    text-align: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    padding: 1rem;
    min-width: 300px;
    background-color: aliceblue;
    border: 1px solid rgb(201, 216, 201);
}

.card h2 {
    text-align: center;
}

.exchange {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}